.DS_Store
thesis.pdf
thesis-blx.bib
thesis.aux
thesis.bbl
thesis.blg
thesis.log
thesis.lof
thesis.lot
thesis.out
thesis.run.xml
thesis.toc
thesis.bcf
feynman-draw.*
feyngraph.*
diagram.pdf
diagram.png
